* {
  font-family: "Cairo", sans-serif;
}
.bg-e{
  background: #eee;
}
.border-end,
.border-start {
  border-color: #444 !important;
}
main {
  background: #eee;
  .owl-prev,
  .owl-next {
    background: rgba(71, 102, 241, 0.5);
    color: white;
    position: absolute;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .owl-prev {
    height: 100%;
    left: 0;
    top: 0%;
  }
  .owl-next {
    height: 100%;
    right: 0;
    top: 0%;
  }
}
