* {
  font-family: "Cairo", sans-serif;
  font-size: 14px;
}
.bg-e{
  background: #eee;
}
.border-end,
.border-start {
  border-color: #444 !important;
}
header {
  .main-menu{
    display: none;
    &.active{
      display: block;      
    transition: .5s ease-in-out;
    }
  }
}
main {
  margin-top: 44px;
  background: #eee;
  .owl-prev,
  .owl-next {
    background: rgba(71, 102, 241, 0.5);
    color: white;
    position: absolute;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .owl-prev {
    height: 100%;
    left: 0;
    top: 0%;
  }
  .owl-next {
    height: 100%;
    right: 0;
    top: 0%;
  }
}
@media(max-width : 767px){
 *{
   font-size: 12px;
 }
}